$lightblue : #619e9e;
$aquablue : #87b3b3;
$grey: #aaaaaa;

.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


.jumbotron {
  background: $grey;
  text-align: center;
}

body {
  background: $aquablue
}

.container {
  text-align: center;
  background: $lightblue;
  // border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
  }
}
